/*
Movil:hastav 720 pixiles 
tables: de 721 pixeles a 1024 pixeles 
PC : Desde 1025 pixeles
*/
/*
. clase (para varias etiquetas )
# id (para solo una etiqueta)
*/
@media (max-width: 720px){
    .t0m{
        display:  none;
    }
    .t20m{
        width: 20%;
    }
    .t40m{
        width: 40%;
    }
    .t60m{
        width: 60%;
    }
    .t80m{
        width: 80%;

    }
    .t100m{
        width: 100%;

    }

}
/*
todo equipo q supere los 720px
 se considera una table
*/

@media (min-width: 721px) and (min-width: 1024px){
    .t0t{
        display:  none;
    }
    .t20t{
        width: 20%;
    }
    .t40t{
        width: 40%;
    }
    .t60t{
        width: 60%;
    }
    .t80t{
        width: 80%;

    }
    .t100t{
        width: 100%;

    }
}

@media (min-width: 1025px){
    .t0p{
        display:  none;
    }
    .t20p{
        width: 20%;
    }
    .t40p{
        width: 40%;
    }
    .t60p{
        width: 60%;
    }
    .t80p{
        width: 80%;

    }
    .t100p{
        width: 100%;

    }
}