
.icon-fire:before { content: '\e800'; } /* '' */
.icon-tint:before { content: '\e801'; } /* '' */
.icon-leaf:before { content: '\e802'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-pied-piper:before { content: '\f2ae'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */